<div class="big-container-memoria">
  <div class="grid-memoria-principal">
    <div class="my-2 text-2xl text-center">Memoria principal</div>
    <div class="grid-container">
      @for (row of this._memoriaService.memoria; track $index) {
      <div class="grid-row">
        @for (celda of row; track $index) {
        <div class="grid-cell" [style]="{'background-color': celda?.color ?? 'white'}"
          [ngClass]="{'ejecutado': celda?.processChunk?.ejecutado}">
          <small>
            {{celda?.address}}
          </small>
          <span>
            @if (!celda || !celda.processChunk || !celda.processChunk.idProceso) {
            disponible
            }
            @else {
            <small style="line-height: 1;">
              <div> IdProceso: {{celda.processChunk.idProceso}}</div>
              @if (celda.processChunk.idHilo !== undefined) {
                <div>Hilo {{celda.processChunk.idHilo}}</div>
              }
              <div>
                index: {{celda.processChunk.chunkIndex}}
              </div>
              <div>
                size: {{celda.processChunk.chunkSize}}
              </div>
            </small>
            }
          </span>
        </div>
        }
      </div>
      }
    </div>
  </div>
  <div class="grid-memoria-secundaria">
    <div class="my-2 text-2xl text-center">Memoria Secundaria</div>
    <div class="grid-container">
      @for (row of this._memoriaService.memoriaSecundaria; track $index) {
      <div class="grid-row">
        @for (celda of row; track $index) {
        <div class="grid-cell" [style]="{'background-color': celda?.color ?? 'white'}"
          [ngClass]="{'ejecutado': celda?.processChunk?.ejecutado}">
          <small>
            {{celda?.address}}
          </small>
          <span>
            @if (!celda || !celda.processChunk || !celda.processChunk.idProceso) {
            disponible
            }
            @else {
            <small style="line-height: 1;">
              <div> IdProceso: {{celda.processChunk.idProceso}}</div>
              @if (celda.processChunk.idHilo !== undefined) {
                <div>Hilo {{celda.processChunk.idHilo}}</div>
              }
              <div>
                index: {{celda.processChunk.chunkIndex}}
              </div>
              <div>
                size: {{celda.processChunk.chunkSize}}
              </div>
            </small>
            }
          </span>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
